main {
    margin-bottom: 175px;
}

@media only screen and (max-width: 550px) {
    main {
        margin-top: 40%;
    }
}

@media only screen and (max-width: 550px) {
    main {
        margin-top: 20%;
    }
}

@media only screen and (min-width: 551px) {
    main {
        margin-top: 15%;
    }
}

@media only screen and (min-width: 750px) {
    main {
        margin-top: 10%;
    }
}

.navbar-text{
    margin-right: 15px;
}

body{
    color: #9494b8;
    background-color:#3d3d5c;
}

.navbar-text {
    margin-top: 10px;
}

